/* COLOR PALETTE:
  light green: rgb(192, 218, 116)
  navy: rgb(43, 58, 103)
  red: rgb(203, 75, 0)
  dark green: rgb(124, 142, 75)
 */

.main{
  margin-top: 40px;
}
.topnav {
  background-color: rgb(255,255,255);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  margin: 25px;
}
.topnav a:hover {
  background-color: rgba(203, 75, 0, .5);
  color: black;
}
.topnav a.active {
  background-color: rgba(203, 75, 0, .2);
  color: black;
}
#logo {
  float: left;
  display: inline-block;
  width: 35%;
  height: auto;
  margin: 20px;
  margin-right: 400px;
}
/*This Side Bar Code is from the following: https://www.w3schools.com/howto/howto_css_sidebar_responsive.asp "
/* The side navigation menu */
.sidebar {
  margin-top: -50px;
  padding: 0;
  width: 200px;
  background-color: white; /*Same as page color*/
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* ----------------------------- Sidebar links ------------------------------- */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: rgba(192, 218, 116, .5);
  color: black;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgba(192, 218, 116, .5);
  color: black;
}

.sidebarsearch {
  margin-top: 100px;
  padding-top: 0;
  width: 200px;
  background-color: white; /*Same as page color*/
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebarsearch a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebarsearch a.active {
  background-color: rgba(192, 218, 116, .5);
  color: black;
}

/* Links on mouse-over */
.sidebarsearch a:hover:not(.active) {
  background-color: rgba(192, 218, 116, .5);
  color: black;
}


div.form {
  display: block;
  text-align: center;
}

form.planner {
  display: inline-block;
  text-align: left;
}

div.form-button {
  text-align: center;
  padding: 10px;
}

button {
  border: none;
  color: white;
  background-color: rgb(192, 218, 116);
  height: 50px;
  width: 800px;
  font-size: 20px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 80px;
}

.reload {
  font-size: 20px;
  text-align: center;
  /* padding:0; */
}

button.styleSwitch {
  font-size: 20px;
  margin: 0px;
  width: 20px;
  height: 20px;
  position:fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgb(43, 58, 103);
}

.homeSearch {
  width: 50%;
  /* top: 50%;
  left: 50%; */
  /* justify-content: center;
  align-items: center; */
}

.tablink {
  margin-top: 100px;
}

.searchB {
  height: 50px;
  margin: 20px;
  width: 50%;
}

 input.searchBar {
   margin: 100px;
   margin-bottom: 50px;
   padding: 10px;
   width: 50%;
   height: 50%;
   font-size: 50px;
   border: none;
 }

/* Trying to get no border on the search bar */
 input.searchBar:focus{
   border: none;
 }

 label {
   color: rgb(16, 17, 22);
 }

 input {
   color: rgb(16, 17, 22);
 }

 input.form-control {
   padding: 10px;
   width: 800px;
   height: 50%;
   border: none;

 }

 div.form-button {
   text-align: center;
   /* padding: 10px; */
   /* background-color: rgb(192, 218, 116); */
 }

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 800px;
  /* margin-top: 200px; */
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/*plan Result*/
* {
  box-sizing: border-box;
}

/* Set height of body and the document to 100% */
body,
html {
  height: 100%;
  margin: 0;
  margin-top: 30px;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: rgb(43, 58, 103);
  color: white;
  font-family: Poppins, sans-serif;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding:10px 16px;
  font-size: 20px;
  margin-right: 1px;
  margin-left: 1px;
  width: 33.195%;
  margin-top: 73px;
}

.tablink:hover {
  background-color: rgba(43, 58, 103, .5);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  background-color: white;
  /* color: rgb(240, 240, 240); */
  display: inline-block;
  padding: 150px 20px;
  height: 100%;
}

/* #Overview {
  background-color: rgb(203, 75, 0);
}
#Logistics {
  background-color: rgb(77, 100, 22);
}
#Create\ Itinerary {
  background-color: rgb(44, 57, 102);
} */

/* headers */
h1 {
  color: rgb(43, 58, 103);
  text-align: center;
  font-family: Poppins, sans-serif;
  margin-top: 100px;
  font-size: 60px;
}

h1.home {
  margin-top: 150px;
  margin-bottom: 50px;
}

h2 {
  color: rgb(124, 142, 75);
  font-family: Poppins, sans-serif;
}

h2.Prepare{
  color: rgb(124, 142, 75);
  font-family: Poppins, sans-serif;
  margin-top: 120px;
}

h3 {
  color: rgb(124, 142, 75);
  font-family: Poppins, sans-serif;
  font-size: 20px;
}

p {
  font-family: Poppins, sans-serif;
  /* set font size */
}

p.home {
  font-family: Poppins, sans-serif;
}

a {
  color: rgb(79, 114, 67);
  font-family: Poppins, sans-serif;
}

div {
    font-family: Poppins, sans-serif;
}

div.results {
  text-align: center;
}

a:hover {
  color: rgb(79, 114, 67);
}



div.search {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}


#map{
  height: 550px;
  width: 35%;
  position: relative;
  z-index: 1;
}

div.FAbullets {
  width: 300px;
  float: left;
}

div.wrapper {
  /* width: 500px; */
  overflow: hidden;
}
/* Comment Pics out for Presentation Monday */
div.image {
  float: left;
  background: url('img/FirstAidcropped.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 350px;
  margin-top: 30px;
  height: 200px;
  width: 80%;
}
/* #Wildlife{
  background: url('img/Wildlife.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 200px;
}
#EMS{
  background: url('img/Prepare4EMS.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 200px;
}
#WildFA{
  background: url('img/CommonInj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*using contain on this does not cover the entire section.  */
  /* margin-left: 200px; */


/* div. {
  background-image: url("img/FirstAid.jpg");
  background-repeat: no-repeat;
  /* background-position: left top; */
  /* padding-top:100px;
  margin-bottom:100px; */


/* } */

h1.pkname {
  color: rgb(43, 58, 103);
  text-align: center;
  font-family: Poppins, sans-serif;
  /* margin-right: 150px; */
  font-size: 60px;
}

div.pkdes {
  color: rgb(43, 58, 103);
  font-size: 20px;
  float: left;
  width: 500px;
  margin-left: 100px;
  margin-right: 50px;
  margin-top: 20px;
}

div.pkwrapper {
  overflow: hidden;
  margin: 25px;
}

div.pkact {
   color: black;
   overflow: hidden;
   float: left;
   margin-right: 75px;
   margin-left: 200px;
   color: rgb(43, 58, 103);
   font-size: 20px;
   margin-top: 20px;
 }

 h2.pk {
   font-size: 30px;
 }

div.pkres {
  /* finishing making a pkres div, need to edit results, put pics next to text */
  align-items: center;
}

h1.searchpkname {
  font-size: 30px;
  margin-bottom: 10px;
  align-items: center;
}

img.pkresimg {
  margin: 100px;
}

img.pksearchimg {
  margin: 20px;
}

div.pkpics {
  text-align: center;
  /* margin-left: 200px; */
}

div.pkmap {
  float:left;
  /* display: inline-block; */
  /* display: inline-block; */
  /* position: absolute;
  margin-right: 100px; */
  /* overflow:hidden; */
}

 div.pkdirect {
  /* margin-left: 100px;
  margin:75px; */
  /* float: left; */
  /* overflow: hidden; */
}

div.text {
  float: left;
  /* margin-left: 100px;
  margin: 75px;
  float: left;
  overflow:hidden; */
}

h1.pkdirections {
  color: rgb(43, 58, 103);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  margin-left: 100px;
}

a.pkURL {
  align-items: center;
  font-size: 20px;
}

div.generalInfo {
  margin: 50px;
}

/* a.pkURL:active {
  color: rgb(43, 58, 103);
} */

h2.pkHelp {
  color: rgb(124, 142, 75);
  font-family: Poppins, sans-serif;
  font-size: 30px;
  padding-top: 120px;
}

.pkHelper {
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  /* margin-top: px; */
}

h1.prepinfo {
  font-size: 40px;
}

li {
  margin-left: 20px;
}

/* .pkHelpfloat {
  color: rgb(124, 142, 75);
  font-family: Poppins, sans-serif;
  margin-top: 120px;
  font-size: 30px;
  float: left;
  overflow: hidden;
}

.pkHelperfloat {
  font-size: 20px;
  padding: 10px;
  margin-left: 10px;
  float: left;
  overflow:hidden;
} */

.insidewrap {
  float: left;
  overflow:hidden;
}

/* #printButton {
  background-color: rgb(43, 58, 103);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#refreshBtn {
  background-color: rgb(43, 58, 103);
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
} */

tr.tablebodyrow {
  border-width: 1px;
  border-color: black;
}

td {
  font-size: 15px;
  text-align: center;
  padding-left: 5px;
}

th.date {
  font-size: 20px;
  text-align: center;
}

tr.tblHeaderRow {
  text-align: center;
}

table {
  margin: 20px;
  width: 95%;
  justify-content: center;
}

.itentable {
  justify-content: center;
}

.itineraryTableBody:active {
  border: none;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

dt {
  color: rgb(124, 142, 75);
  font-family: Poppins, sans-serif;
  font-size: 20px;
  margin: 10px;
  margin-left: 30px;
}

.trailTitle {
  color: rgb(43, 58, 103);
  margin: 20px;
}
